<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Project</title>
</head>
<body>
<h1>Please upload your inventory CSV</h1>

<form method="post" enctype="multipart/form-data">
<input type="file" id="myFile" name="filename">
<input type="submit">
</form>


</body>
</html>