<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Project</title>
</head>
<body>
<h1>Here is some data</h1>

{{range .}}
<br>{{.}}
{{end}}


</body>
</html>